
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #fdc7c7;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background: rgb(0, 0, 0);
  padding: 15px 20px;
  color: #ff8400;
}

.logo {
  font-size: 29px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.nav {
  display: flex;
  gap: 20px;
 
}


.nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(255, 5, 5);
background-color: #111;
backdrop-filter: 55px;
transition: 0.6s;
 
}


.nav a:hover {
 background-color: #ff0707;
 transition: 0.6s;
}
/* BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #ff0000;
}
.burger:hover{
  background-color: #2d2d2d;
  transform: scale(1.2);
  transition: 0.5s;
}
/* HERO */
.hero {
  background:none;
  color: white;
  padding: 80px 20px;
  text-align: center;
  z-index: 10;
}
.cont1{
    background-color:rgba(0,0,0,0.15);
    backdrop-filter: blur(25px);
    width: 59%;
    margin-left: 19%;
    border-radius: 20px;
    padding-bottom: 10px;
    padding: 10px;
   z-index: 1000000;
}
.button-cont{
 
}
.hero h1 {
  font-size: 48px;
  color: #111;
}
.bg-video {
  
 position: absolute;
  width: 100%;
  height: 95%;
  object-fit: cover;
  z-index: -10;
}
.cont1 img{
    width: 55%;
    height: 60vh;
    transition: 0.8s;
    border-radius: 80px;

}
.hero img:hover{
    transform: scale(1.08);
    transition: 0.8s;
}
/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  
}

.section h2 {
  margin-bottom: 15px;
}
.btn1{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
}
.btn2{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
   font-size: 23px;
}
.gray {
  background: #f4f4f4;
  border-radius: 20px;
  padding-right: 10px;
}
.li{
  padding: 10px;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* ADAPTIVE */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .burger {
    display: flex;
  
  }

  .hero h1 {
    font-size: 34px;
  }
  .cont1 img{
    width: 70%;
      height: 300px;
  }
  .cont1 {
    width: 80%;
 margin-left: 10%;
  }
  .btn2{
    font-size: 12px;
  }
   .btn1{
    font-size: 12px;
  }
}